.navbar {
  position: absolute;
  top: 2%;
  left: 35%;
  width: 30%;
  padding: 6px 0px;
  border-radius: 15px;
  background-color: rgba(254, 252, 249, 0.725);
  box-shadow: 1px 2px 4px rgba(33, 32, 32, 0.725);
}
.navElem {
  display: flex;
  justify-content: space-evenly;
}
.navElem li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
